html , body ,h1 , h2 , h3 , h4 , h5 {
	padding: 0 ;
	margin: 0 ;
}
body {
	background-color: #E6EBED;
	font-family: "微软雅黑";
}
h3 {
	display: inline-block;
}

/***bootstrap 样式覆盖**/
.main .navbar { margin-bottom: 0px ; border:none;min-height:40px; border-radius: 0px ; background-color:#05364B;}
.main .navbar-default .navbar-nav > li >a {
	color:#fff;
	font-size: 16px;
}
.main .navbar-default .navbar-nav > li >a:hover ,
.main .navbar-default .navbar-nav>.active>a {
	color: #fff;
	background-color:#EF4502;
	cursor: pointer;
}

.main .header-top {
	height:80px;
	background-color: #72D4AE;
	color: #fff;
}
.main .header-top h4 {
	display: inline-block;
	float: right;
	margin-right: 180px;
	margin-top: 40px;
}
.main .nav-wrapper {
	background-color: #05364B ;
	padding: 0 60px;
	position: relative;
}

.main .nav-wrapper .navbar .header-search {
	width: 200px;
	position: absolute;
	right: 0px;
	top: 5px;
}
.main .nav-wrapper .navbar .header-search .input-group-sm {
	width: 100%;
}

.main .header-notify {
	background-color: #fff;
	line-height: 30px;
}
.main .header-notify span {
	padding-left: 60px;
	color: #666666;
}
.main .header-notify .login {
	display: inline-block;
	float: right;
	margin-right:50px; 
}

.main .header-notify .login a {
	margin-right: 10px;
	display: inline-block;
}

.main .content {
	padding: 0 60px;
	margin-top: 10px;
}

.main .content .content-left ,
.main .content .content-right  {
	display: inline-block;
	float: left;
	padding: 5px;
}
.main .content .content-left {
	width: 70%;
}
.main .content .content-right {
	width: calc(100% - 70% - 20px);
	margin-left: 20px;
}

.main .content .list-item {
	background-color: #fff;
	margin-bottom: 10px;
}
.main .content .list-item .item-top {
	padding-top: 10px;
	padding-bottom: 5px;
}
.main .content .list-item .item-top .flag {
	background-color: #D90239;
	line-height: 25px;
	text-align: center;
	display: inline-block;
	padding: 0px 15px ;	
	color: #fff ;
	margin-left: 10px;
}
.main .content .list-item .item-top h3 {
	margin-left: 15px;
	font-size: 22px;
	vertical-align: middle;
	color: #1b8b48;
}
.main .content .list-item .item-top .author {
	float: right;
	line-height: 25px;
	color: #777777 ;
	text-align: center;
	display: inline-block;
	padding: 0 10px ;
	font-size: 12px;
}
.main .content .list-item .item-content {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 10px;
}
.main .content .list-item .item-content img {
	width: 120px;
	height: 90px;
	display: inline-block;
}
.main .content .list-item .item-content span {
	width: calc(100% - 120px );
	display: inline-block;
	float:right;
	padding: 5px 15px;
	color: #777777;
}
.main .content .list-item .item-bottom {
	color: #777777 ;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	padding-right: 5px;
}
.main .content .list-item .item-bottom span {
	display: inline-block;
	padding: 0px 5px;
	line-height: 25px;
	float: right;
}

/***媒体查询***/
@media (min-width: 768px)  {
	.main .navbar-nav > li > a {
		padding-top:10px;
		padding-bottom:10px;
	}
}

@media (max-width: 768px) {
	.main .navbar-nav {
		margin: 0;
	}
	.main .nav-wrapper {
		padding: 0;
	}
	.main .nav-wrapper .navbar .header-search {
		width: 100%;
		position: relative;
		margin-bottom: 5px;
	}
	.main .header-notify span {
		padding-left: 5px;
		color: #666666;
	}

	.main .content {
		padding: 0;
		margin-top: 10px;
	}
	.main .content .content-left {
		width: 100%;
	}
	.main .content .content-right {
		display: none;
	}
}


