html , body ,h1 , h2 , h3 , h4 , h5  , ul , li {
	padding: 0 ;
	margin: 0 ;
}
body {background-color: #E6EBED;font-family: "微软雅黑";}
h3 {display: inline-block;}
a{color: #aaa;}
a:hover {color: #aaa ;cursor: pointer;}
ul , li {list-style: none;}

.img-ml-mr {margin:0 12px;}
.ml-15 {margin-left: 15px;}


.main {
	position: relative;
	overflow-x: hidden;
}
/***bootstrap 样式覆盖**/
.main .navbar { width:1000px ; margin:0 auto;border:none;min-height:40px; border-radius: 0px ; background-color:#05364B;}
.main .navbar-default .navbar-nav > li >a {
	color:#fff;
	font-size: 16px;
}
.main .navbar-default .navbar-nav > li >a:hover ,
.main .navbar-default .navbar-nav>.active > a {
	color: #fff;
	background-color:#EF4502;
	cursor: pointer;
}

/*****轮播图样式********/

.main .content .content-left .carousel {
	display: inline-block;
	background-color: #fff;
	margin-bottom: 5px;
	width: 100%;
}
.main .content .content-left .carousel .carousel-indicators {
	position: relative;
	left: 0px;
	width: 140px;
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	margin-bottom: 0px;
}
.main .content .content-left .carousel .carousel-indicators img {
	width: 120px;
	height: 80px;
	opacity:0.2;
}
.main .content .content-left .carousel .carousel-inner {
	width: calc(100% - 140px);
	float: left;
}
.main .content .content-left .carousel .carousel-inner img {
	width: 100%;
	height: 370px;
}
.main .content .content-left .carousel .carousel-indicators .active > img {
	opacity:1.0;
}
.main .content .content-left .carousel .carousel-indicators li {
	width: 100%;
	height: 80px;
	margin-top:10px;
	display: block;
	border-radius: 0px;
	text-indent: 0px;
}
.main .content .content-left .carousel .carousel-control {
	display: none;
}

.main .header-top {
	height:80px;
	background-color: #72D4AE;
	color: #fff;
}
.main .header-top h4 {
	display: inline-block;
	float: right;
	margin-right: 180px;
	margin-top: 40px;
}
.main .nav-wrapper {
	background-color: #05364B ;
	position: relative;
}

.main .nav-wrapper .navbar .header-search {
	width: 200px;
	position: absolute;
	right: 0px;
	top: 5px;
}
.main .nav-wrapper .navbar .header-search .input-group-sm {
	width: 100%;
}

.main .header-notify {
	background-color: #fff;
	line-height: 30px;
}
.main .notify-box {
	width: 1000px;
	margin: 0 auto ;
}
.main .header-notify span {
	color: #666666;
}
.main .header-notify .login {
	display: inline-block;
	float: right;
}

.main .header-notify .login a {
	margin-right: 10px;
	display: inline-block;
}

.main .content {
	width: 1000px;
	margin: 0 auto ;
	margin-top: 10px;
}

.main .content .content-left ,
.main .content .content-right  {
	display: inline-block;
	padding: 5px;
}
.main .content .content-left {
	width: 700px;
}
.main .content .content-right {
	width: 290px;
	margin-left: 10px;
	float: right;
}

.main .content .list-item {
	background-color: #fff;
	margin-bottom: 10px;
}
.main .content .list-item .item-top {
	padding-top: 10px;
	padding-bottom: 5px;
}
.main .content .list-item .item-top .flag {
	background-color: #D90239;
	line-height: 25px;
	text-align: center;
	display: inline-block;
	padding: 0px 15px ;	
	color: #fff ;
	margin-left: 10px;
}
.main .content .list-item .item-top h3 {
	margin-left: 15px;
	font-size: 22px;
	vertical-align: middle;
	color: #11A54C;
}
.main .content .list-item .item-top h3:hover {	
	cursor: pointer;
	color: #0F582D;
}
.main .content .list-item .item-top .author {
	float: right;
	line-height: 25px;
	color: #777777 ;
	text-align: center;
	display: inline-block;
	padding: 0 10px ;
	font-size: 12px;
}
.main .content .list-item .item-content {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 10px;
}
.main .content .list-item .item-content img {
	width: 120px;
	height: 90px;
	display: inline-block;
}
.main .content .list-item .item-content span {
	width: calc(100% - 120px );
	display: inline-block;
	float:right;
	padding: 5px 15px;
	color: #777777;
}
.main .content .list-item .item-bottom {
	color: #777777 ;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	padding-right: 5px;
}
.main .content .list-item .item-bottom span {
	display: inline-block;
	padding: 0px 5px;
	line-height: 25px;
	float: right;
}

.main .footer {
	background-color: #333;
	position: relative;
	border-top: 4px solid  #02b74f ;
}
.main .footer .footer-inner {
	max-width: 900px;
	padding: 16px 20px;
	margin: 0 auto;
	color: #aaa ;
	text-shadow:0 -1px 0 #333;
}
.main .footer .footer-inner .copyright {
	text-align: center;
}

.main .content .content-right .right-card {
	background-color: #fff;
	padding: 5px;
	margin-bottom: 10px;
}
.main .content .content-right .right-card .card-title {
	line-height: 30px;
	display: block;
	border-bottom: 2px solid #02ac1e ;
	font-size: 16px;
	padding-left: 10px;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.main .content .content-right .right-card li {
	line-height: 26px;
	padding-left: 10px;
}
.main .content .content-right .right-card .friend-link a{
	display: inline-block;
	padding: 8px 5px;
}

/*********足迹**********/
.main .content .travels {
	margin-left: 10px ; 
	display: inline-block;
	float: left;
	position: relative;
}
.main .content .travels .time-line {
	background-color: #fff;
	width: 4px;
	height: 100%;
	position: absolute;
}
.main .content .travels .time-line-inner {
	width: 2px;
	height: 100%;
	margin:0 auto;
	background-color: green;
}
.main .content .travels .time-pointer {
	position: absolute;
	top: 15px;
	left: -4px;
	width: 12px;
	height:12px;
	border-radius: 6px;
	background-color: green;
	border:2px solid #fff;
	display: inline-block;
}

.main .content .travels .time-content p {
	margin-top: 12px;
	color: #aaa;
}
.main .content .travels .time-content-inner {
	background-color: #fff;
}
.main .content .travels .time-content-inner h4 {
	line-height: 40px;
	padding-left: 23px;
}	
.main .content .travels .img-wrapper {
	padding-left: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
}
.main .content .travels .img-wrapper img {
	width: 200px;
	height: 150px;
	display: inline-block;
	border:none;
}

/***媒体查询***/
@media (min-width: 768px)  {
	.main .navbar-nav > li > a {
		padding-top:10px;
		padding-bottom:10px;
	}
	.main .carousel-indicators {
		bottom: 0px;
	}
}

@media (max-width: 768px) {
	.main .navbar {
		width: 100%;
	}
	.main .navbar-nav {
		margin: 0;
	}
	.main .nav-wrapper {
		padding: 0;
	}
	.main .nav-wrapper .navbar .header-search {
		width: 100%;
		top: 0px;
		position: relative;
	}
	.main .header-notify span {
		padding-left: 5px;
		color: #666666;
	}
	
	.main .header-notify .login {
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.main .content {
		width: 100%;
		margin-top: 10px;
	}
	.main .content .content-left {
		width: 100%;
	}
	.main .content .content-right {
		display: none;
	}
	.main .content .content-left .carousel .carousel-indicators {
		margin-top: 10px;
	}
}


