<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--引入 bootstrap 样式文件-->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<title>首页</title>
</head>
<body data-spy="scroll" data-target="#myScrollspy">
	<div class='main'>
		<header class='header'>
			<div class='header-top'>
				<h4>CHANGE THE WORLD BY CODE</h4>
			</div>
			<!--导航栏-->
			<div class='nav-wrapper'>
				<nav class="navbar navbar-default" role="navigation">
					<ul class="nav navbar-nav">
						<li v-for='item in navText' 
							v-bind:class="[item.isActive ? 'active' : '']" 
							v-on:click="switchNav(item.type , $index)">
							<a>{{item.text}}</a>
						</li>
					</ul>
					<!--搜索框-->
					<div class='header-search'>
						<div class="input-group input-group-sm">
						   <input type='text' class='form-control' placeholder='输入关键词'>
						</div>
					</div>
				</nav>
			</div>
			<!--消息通知栏-->
			<div class='header-notify'>
				<div class='notify-box'>
					<span>这是一条通知消息</span>
					<div class='login'>
						<a href="#">登录</a>
						<a href="#">注册</a>
					</div>
				</div>
			</div>
		</header>
		<!--关于我 布局-->
		<section class="me mt-10" v-show="section == 0">
	    	<div class="container">
				<div class="row">
					<div class="col-xs-9 no-padding white-bg">
						<h2 id="section-1" class="nav-title">基本信息</h2>
						<div class="section-wrapper">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
						</div>
						<h2 id="section-2" class="nav-title">教育经历</h2>
						<div class="section-wrapper"> 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
						</div>
						<h2 id="section-3" class="nav-title">职业技能</h2>
						<div class="section-wrapper"> 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Integer faucibus ligula.
						</div>
						<h2 id="section-4" class="nav-title">赞助</h2>
						<div class="section-wrapper"> 
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, 
							varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, 
							semper malesuada ante. Vestibulum id metus ac nisl bibendum scelerisque 
							non non purus. Suspendisse varius nibh non aliquet sagittis. 
							In tincidunt orci sit amet elementum vestibulum. 
							Vivamus fermentum in arcu in aliquam. Quisque aliquam porta odio in fringilla.
							Vivamus nisl leo, blandit at bibendum eu, tristique eget risus. 
							Integer aliquet quam ut elit suscipit, id interdum neque porttitor. 
							Integer faucibus ligula.
						</div>
					</div>
					<div class="col-xs-3" id="myScrollspy">
						<ul class="nav nav-tabs nav-stacked white-bg" data-spy="affix" data-offset-top="150" >
							<li class="active"><a href="#section-1">基本信息</a></li>
							<li><a href="#section-2">教育经历</a></li>
							<li><a href="#section-3">职业技能</a></li>
							<li><a href="#section-4">赞助</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!--列表内容-->
		<section class='content' v-show="section == 1">
			<div class='content-left'>
				<!--轮播图-->
				<div id='myCarousel' class='carousel slide' data-ride='carousel' v-show='isShow'>
					<ol class='carousel-indicators'>
						<li data-target='#myCarousel' data-slide-to='0' class='active'>
							<img src='images/1.png'  alt='java'>
						</li>
						<li data-target='#myCarousel' data-slide-to='1'>
							<img src='images/2.png'  alt='java'>
						</li>
						<li data-target='#myCarousel' data-slide-to='2'>
							<img src='images/3.png'  alt='java'>
						</li>
						<li data-target='#myCarousel' data-slide-to='3'>
							<img src='images/4.png'  alt='java'>
						</li>
					</ol>
					<div class='carousel-inner'>
						<div class='item active'>
							<img src='images/1.png' alt='java'>
						</div>
						<div class='item'>
							<img src='images/2.png' alt='ios'>
						</div>
						<div class='item'>
							<img src='images/3.png' alt='php'>
						</div>
						<div class='item'>
							<img src='images/4.png' alt='go'>
						</div>
					</div>
				</div>
				<!--内容列表-->
				<div v-for='item in list'>
					<list-item :item='item' :key='item.id' v-if='isShow'></list-item> 
					<travels-item :travels='item' :key='item.id' v-else></travels-item> 
				</div>
			</div>
			<!--右侧栏-->
			<aside class='content-right'>
				<div class='right-card'>
					<span class='card-title'>广告</span>
					<div>
						这里是一条图片广告
					</div>
				</div>
				<div class='right-card'>
					<span class='card-title'>相关文章</span>
					<ul>
						<li>java进阶教程</li>
						<li>android内存优化方案</li>
						<li>python爬虫教程</li>
						<li>《第一行代码》从零开始带你走进奇异的世界</li>
						<li>js实现轮播图效果</li>
						<li>H5小游戏实战教程</li>
					</ul>
				</div>
				<div class='right-card'>
					<span class='card-title'>友情链接</span>
					<div class='friend-link'>
						<a>慕课网</a>
						<a>Github</a>
						<a>极客网</a>
						<a>GrepCode</a>
					</div>
				</div>
			</aside>
		</section>
		<!--底部-->
		<footer class='footer'>
			<div class='footer-inner'>
				<div class='copyright'>
					Mr.King 版权所有 | UI使用<a>Bootstrap</a>样式 | 托管于<a>阿里云</a>服务 | 备案号 沪 201705241452 <br>
					站长统计 | 今日IP[125] | 今日PV[452] | 当前在线[105]
				</div>
			</div>
		</footer>
	</div>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="js/jquery-2.2.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="js/bootstrap.min.js"></script>
<!-- 引入Vue.js 用来交互-->
<script src="js/vue.js"></script>
<!-- 网络请求库 -->
<script src="js/request.js"></script>
<!-- 组件库 -->
<script src="components/comps.js"></script>

<script>

	var articles = [
				{	
					id:'001',
					flag:'JAVA' , 
					title:'Java高级编程第一讲' , 
					imgurl:'', 
					like:324 , 
					comment:30 , 
					browse:5625  , 
					time:'1天前' , 
					author:'Mr.King',
					summary:'这是一本不错的java初级教程，它能够带你走进java的世界，带你领略编程的乐趣，通过简单的代码，就能够实现强大的功能' 
				},
				{
					id:'002',
					flag:'ANDROID' , 
					title:'Android高级编程第一讲' , 
					imgurl:'', 
					like:324 , 
					comment:30 , 
					browse:5625  , 
					time:'1天前' , 
					author:'Mr.King',
					summary:'这是一本不错的java初级教程，它能够带你走进java的世界，带你领略编程的乐趣，通过简单的代码，就能够实现强大的功能' 
				},
				{
					id:'003',
					flag:'PHP' , 
					title:'PHP高级编程第一讲' , 
					imgurl:'', 
					like:324 , 
					comment:30 , 
					browse:5625  , 
					time:'1天前' , 
					author:'Mr.King',
					summary:'这是一本不错的java初级教程，它能够带你走进java的世界，带你领略编程的乐趣，通过简单的代码，就能够实现强大的功能' 
				},
				{
					id:'004',
					flag:'IOS' , 
					title:'IOS高级编程第一讲' , 
					imgurl:'', 
					like:324 , 
					comment:30 , 
					browse:5625  , 
					time:'1天前' , 
					author:'Mr.King',
					summary:'这是一本不错的java初级教程，它能够带你走进java的世界，带你领略编程的乐趣，通过简单的代码，就能够实现强大的功能' 
				},
				{
					id:'005',
					flag:'Python' , 
					title:'Python高级编程第一讲' , 
					imgurl:'', 
					like:324 , 
					comment:30 , 
					browse:5625  , 
					time:'1天前' , 
					author:'Mr.King',
					summary:'这是一本不错的java初级教程，它能够带你走进java的世界，带你领略编程的乐趣，通过简单的代码，就能够实现强大的功能' 
				},
			]
			
	var travels = [
				{id:'001', title:'杭州-西湖 2日游' , time:'2017-05-14' , place:'杭州-西湖' , weather:'晴' , urls:[]},
				{id:'002', title:'杭州-西湖 2日游' , time:'2017-05-14' , place:'杭州-西湖' , weather:'晴' , urls:[]},
				{id:'003', title:'杭州-西湖 2日游' , time:'2017-05-14' , place:'杭州-西湖' , weather:'晴' , urls:[]},
				{id:'004', title:'杭州-西湖 2日游' , time:'2017-05-14' , place:'杭州-西湖' , weather:'晴' , urls:[]},
				{id:'005', title:'杭州-西湖 2日游' , time:'2017-05-14' , place:'杭州-西湖' , weather:'晴' , urls:[]},
				{id:'006', title:'杭州-西湖 2日游' , time:'2017-05-14' , place:'杭州-西湖' , weather:'晴' , urls:[]},
				{id:'007', title:'杭州-西湖 2日游' , time:'2017-05-14' , place:'杭州-西湖' , weather:'晴' , urls:[]},
				{id:'008', title:'杭州-西湖 2日游' , time:'2017-05-14' , place:'杭州-西湖' , weather:'晴' , urls:[]}
			]

	new ListItem('list-item');
	new TravelsItem('travels-item');
	
	new Vue({
		el:'.main',
		data:{
			isShow:true,
			section:1, // 0::显示关于我的section 1:显示其他section
			navText:[
				{text:'文章' , type:0 , isActive:true},
				{text:'个人作品' , type:1 , isActive:false},
				{text:'足迹' , type:2 , isActive:false},
				{text:'关于我' , type:3 , isActive:false}
			],
			preNavIndex:0,
			list:[]
		},
		created:function () {
			this.list = articles ;
		},
		methods:{
			/**
			 * 切换导航	
		     */
			switchNav:function (type , currNavIndex) {
				this.navText[this.preNavIndex].isActive = false ;
				this.navText[currNavIndex].isActive = true ;
				this.preNavIndex = currNavIndex ;
				this.loadDataByType(type) ;
			},
			/**	
			 * 根据菜单类型，加载数据
			 */
			loadDataByType:function (type) {
				if(type == 0) {
					this.list = articles ;
					this.isShow = true ;
					this.section = 1 ;
				} else if(type == 2) {
					this.list = travels ;
					this.isShow = false ;
					this.section = 1 ;
				} else if(type == 3) {
					this.section = 0 ;
				}
			}
		}
	})

</script>
</body>
</html>